*
      body
      {
        background-image: url(background4.jpg);
        background-position: top-right;
        background-color: black;
        font-family:monospace;
        background-size: cover;
      }
      
      .row
      {
        max-width:cover;
        margin:auto;
      }
      .hero
      {
        position: center;
        width: cover;
        margin-left: 0px;
        margin-top: 0px;
      }
      h1
      {
        color: black;
        text-align: center;
        margin-top: 200px;
        font-size: 80px;
      }

      p
      {
        color: gold;
        text-align: center;
        margin-top: 10px;
        font-size: 25px;
      }
      p:hover
      {
      border: 0.5px solid white;
      background-color: black;
      }
      .button
      {
        margin-top: 20px;
        margin-left: 400px;
      }
      .btn
      {
        color: darkorange;
        font-size: 40px;
        margin-right: 10px;
        text-transform: uppercase;
        border: 1px solid white;
      }
      .btn:hover
      {
        background-color: white;
      }
      footer
      {
        background-color: black;
        color: darkorange;
        font-family:monospace;
      }
      h2
      {
        text-align: center;
        font-size: 24px;
        color: darkorange;
      }
      .h2:hover
      {
      background-color: darkorange;
      }
      h3
      {
        font-size: 14px;
      }
      .navbar-brand img
      {
        width: 50px;
      }

      .nav-link
      {
        color: darkorange;
        text-decoration: none;
        padding: 5px 10px;
        font-size: 18px;
      }
      .nav-link:hover
      {
      border: 1px solid white;
      background-color: darkorange;
      }
      .dropdown-item
      {
        color: black;
        text-decoration: none;
        padding: 5px 10px;
        font-size: 18px;
      }
      .dropdown-item:hover
      {
      border: 1px solid white;
      background-color: darkorange;
      }
      .btn
      {
        font-size: 18px;
        color: darkorange;

      }

      .btn:hover
      {
      
      background-color: darkorange;

      }
      .jumbotron
      {
        text-align: center;
        font-size: 18px;
      }

      
      
      


