*

      body
      {
        background-image: url(background7.jpg);
        background-position: top-right;
        background-color: black;
        font-family:monospace;
        background-size: cover;
        padding-top: 3.5rem;
        opacity: 1.9;
      }
      form
      {
        position: right;
      }
      .row
      {
        max-width:cover;
        margin:auto;
        margin-top: 10px;
      }
      .hero
      {
        position: center;
        width: cover;
        margin-left: 0px;
        margin-top: 0px;
      }
      h1
      {
        color: black;
        text-align: center;
        margin-top: 200px;
        font-size: 80px;
      }


      p
      {
        color: gold;
        text-align: center;
        margin-top: 10px;
        font-size: 25px;
      }
     
      
      .button
      {
        margin-top: 20px;
        margin-left: 400px;
      }
      .btn
      {
        color: darkorange;
        font-size: 40px;
        margin-right: 10px;
        text-transform: uppercase;
        border: 1px solid white;
        font-size: 18px;
      }
      
      footer
      {
        background-color: black;
        color: darkorange;
        font-family:monospace;
      }
      h2
      {
        text-align: center;
        font-size: 24px;
        color: darkorange;

      }
      
      h3
      {
        font-size: 14px;

        color: darkorange;
      }
      .navbar-brand img
      {
        width: 500px;
      }

      .nav-link
      {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-size: 18px;
      }
      
      .dropdown-item
      {
        text-decoration: none;
        padding: 5px 10px;
        font-size: 18px;
      }
      .dropdown-item:hover
      {
      border: 1px solid white;
      background-color: darkorange;
      }
      
      .jumbotron
      {
        text-align: center;
        font-size: 18px;
      }

      .social{

    text-align: left;
    width: 10%;
    display: inline;
}
.social img{
    width: 2.5%;
    display: inline;
    height: auto;
    margin-bottom: 1px;
}

.social h3{
  margin-top: 100px;
    color: gold;
}

  .gallery img
  {
    margin-top: 10px;
    width: 100%;
        height: 100%;
  }
      
.container
{
  margin-top: 100px;
}
#right
{
    position:absolute;
    right:0px;
}

