* {
	margin: 0px;
	padding: 0px;
}
body
{
	background-image: url(background7.jpg);
        background-position: top-right;
        background-color: black;
        font-family:monospace;
        background-size: cover;
        padding-top: 3.5rem;
        opacity: 1.9;
}
.header{
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background-color: blue;
	text-align: center;
	border: 1px solid white;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}


form, .content  {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	background-color: white;
	border: 1px solid white;
	border-radius: 0px 0px 10px 10px;
}
.input-group{
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}

.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.row
      {
        max-width:cover;
        margin:auto;
        margin-top: 10px;
      }
      .hero
      {
        position: center;
        width: cover;
        margin-left: 0px;
        margin-top: 0px;
      }
      h1
      {
        color: black;
        text-align: center;
        margin-top: 200px;
        font-size: 80px;
      }


      p
      {
        color: gold;
        text-align: center;
        margin-top: 10px;
        font-size: 25px;
      }
     footer
      {
        background-color: black;
        color: darkorange;
        font-family:monospace;
      }
      h2
      {
        text-align: center;
        font-size: 24px;
        color: darkorange;

      }
      
      h3
      {
        font-size: 14px;

        color: darkorange;
      }
      .a navbar-brand img
      {
        width: 5px;
        height: 5px;
      }

      .nav-link
      {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        font-size: 18px;
      }
      
      .dropdown-item
      {
        text-decoration: none;
        padding: 5px 10px;
        font-size: 18px;
      }
      .dropdown-item:hover
      {
      border: 1px solid white;
      background-color: darkorange;
      }
      
      .jumbotron
      {
        text-align: center;
        font-size: 18px;
      }

      .social{

    text-align: left;
    width: 10%;
    display: inline;
}
.social img{
    width: 2.5%;
    display: inline;
    height: auto;
    margin-bottom: 1px;
}

.social h3{
  margin-top: 100px;
    color: gold;
}

  .gallery img
  {
    margin-top: 10px;
    width: 100%;
        height: 100%;
  }
      
.container
{
  margin-top: 100px;
}
#right
{
    position:absolute;
    right:0px;
}

      
      .button
      {
        margin-top: 20px;
        margin-left: 400px;
      }

.btn {
	padding: 10px;
	font-size: 28px;
	color: white;
	background-color: green;
	border: none;
	border-radius: 5px;
}


.error{
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid white;
	color: red;
	border-radius: 5px;
	text-align: left;
}
.success{
	color: #3c763d;
	background-color: #dff0db;
	border: 1px solid white;
	margin-bottom: 20px;
}